  th,td{
        border:1px solid black;
       
    }

    th{
        background-color: indianred;
    }
    table{
        border-collapse: collapse;
    }




/* table, th, td {
	width: 20.9%;
  border: 1px solid black;
  border-collapse: collapse;
	
}
.tableHead{
	background: hotpink;
}
.tableRow1{
	width: 100%;
	background: pink;
}
.tableRow2{

	background: whitesmoke;
}
.tableRow3{
	background: lightgray;
}
 */